<mat-toolbar color="primary" class="example-toolbar">
	<button mat-icon-button (click)="isExpanded = !isExpanded">
		<mat-icon>menu</mat-icon>
	</button>
	<h1 class="example-app-name">{{showpage}}</h1>
</mat-toolbar>

<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
		(mouseleave)="mouseleave()">
		<mat-nav-list>

			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
				<mat-icon mat-list-icon>home</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">
					expand_more</mat-icon>
			</mat-list-item>

			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="showSubmenu">

				<a mat-list-item href="...">Submenu Item 1</a>
				<a mat-list-item href="...">Submenu Item 2</a>

			</div>

			<mat-list-item (click)="changepage('send')" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Send Menu</span>
				<mat-icon mat-list-icon>send</mat-icon>
			</mat-list-item>

			<mat-list-item (click)="changepage('add')" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Add Menu</span>
				<mat-icon mat-list-icon>add</mat-icon>
			</mat-list-item>

			<mat-list-item (click)="changepage('charts')" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Charts Menu</span>
				<mat-icon mat-list-icon>poll</mat-icon>
			</mat-list-item>


		</mat-nav-list>
		<mat-nav-list>
		</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content" *ngIf="showpage=='main'">
		Main content that resizes properly
	</div>
	<div class="example-sidenav-content" *ngIf="showpage=='send'">
		Send content that resizes properly
	</div>
	<div class="example-sidenav-content" *ngIf="showpage=='add'">
		add content that resizes properly
		<li class="nav-item">
			<a class="nav-link" href="/charts">Entrar</a>
		</li>
	</div>


	<div class="example-sidenav-content">
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>